.env.devbox
.env.testing
.envrc
.idea/
devbox.json
devbox.lock
vendor/
devbox.d/
.phpunit.cache
tests/coverage
.DS_Store
sketchpad/
workbench/*
!workbench/app
workbench/app/*
!workbench/app/.gitkeep

# zRetreat - PHP Archetype
!workbench/app/Http
workbench/app/Http/*
!workbench/app/Http/Api
workbench/app/Http/Api/*
!workbench/app/Http/Api/V1
workbench/app/Http/Api/V1/*
!workbench/app/Http/Api/V1/Articles
!workbench/app/Entities
workbench/app/Entities/*
!workbench/app/Entities/Articles
